services:
  qlever:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: qlever
    environment:
      - UID=${QLEVER_UID:-1234}
      - GID=${QLEVER_GID:-1234}
    volumes:
      - qlever-data:/data
    working_dir: /data
    ports:
      - "7001:7001"
    command:
      - -c
      - |
        sudo groupadd sharedgroup || true   # avoid error if it already exists
        sudo usermod -aG sharedgroup qlever # add qlever user to sharedgroup
        sudo usermod -aG sharedgroup $(whoami) # add your current user by name
        sudo chown -R qlever:sharedgroup /data
        sudo chmod -R 770 /data
        if [ ! -f /data/Qleverfile ]; then
          qlever setup-config olympics &&
          qlever get-data &&
          qlever index
        fi &&
        echo "Starting QLever server..."
        qlever start --name olympics --description "Olympics Dataset"
    restart: unless-stopped

    deploy:
      resources:
        limits:
          memory: 8g

volumes:
  qlever-data:
